---
interface Props {
    title: string;
    title2: string;
    description: string;
    imageUrl: string;
}

const {title, description, imageUrl, title2} = Astro.props;
---

<section class="flex flex-col lg:flex-row bg-cyan-200/30 mx-4 md:mx-8 lg:mx-24 my-8 lg:my-16 min-h-[50vh] lg:min-h-[70vh] gap-8 lg:gap-16 items-center justify-between p-6 md:p-12 lg:p-16 rounded-t-2xl">
    <div class="w-full lg:max-w-[60%] grid h-full relative">
        <div class="flex items-center mb-4">
            <span class="bg-cyan-500 animate-pulse text-white px-6 py-3 rounded-full text-sm font-medium inline-flex items-center">
                70% Discounts
                <span class="relative ml-2">
                    <span class="relative inline-flex rounded-full h-2 w-2 bg-white"></span>
                </span>
            </span>
        </div>
        
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold tracking-wide">
            {title} <br> {title2}
        </h1>
        <p class="mt-6 lg:mt-10 text-lg md:text-xl max-w-full lg:max-w-[80%] font-thin">
            {description}
        </p>
        
    </div>
    <div class="w-full lg:w-auto mt-6 lg:mt-0">
        <img src={imageUrl} alt="alt text etc .. " class="w-full h-auto object-cover rounded-xl">
    </div>
</section>